<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static_pages.scss">
  <title>Page Title</title>
</head>
<body style="background:white;">

<div class="jumbotron">
  <h1>Stay and help!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Zacznij</a></p>
</div>
<div class="col-md-12" id="works">
  <center><h3>Jak to działa</h3></center>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
</div>


</body>
<footer>

  <center><p>2016</p></center>

</footer>
</html>





