<div class="container">
  <div class="navbar-header ">
  </div>
  <div class="navbar-collapse collapse">
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
          <%= link_to('Wyloguj', destroy_user_session_path, :method => :delete) %>
    <% else %>
          <%= link_to('Zaloguj', new_user_session_path)  %>

        <p class="navbar-text pull-left">
          <%= link_to "Porady", tips_path, :class => 'navbar-link' %>
    <% end %>
    </div>
</div>


